
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    color: #fff;
}
body {
    background: #262f2c;
}
.container{
    position: relative;
    height: 100%;
}
.btn-div, .reset, .checkTo, .time , .cont, .level{
    display: inline-block;
    text-align: center;
    color: #fff;
    border-radius: .4rem;
    font-size: 1.2rem;
    text-shadow: 0 1px 2px rgb(95, 86, 86);
}
.btn-div, .reset, .checkTo, .time {
    padding: .5rem 1rem;
}
.checkfo{
    margin: auto;
}
.reset, .checkTo{
    font-size: 1.5rem;
}
.btn-div, .reset, .checkTo{
    background: #ffde1a;
}
.checkTo{
    cursor: pointer;
}
.time{
    box-sizing: border-box;
    border: 1px solid #ffb91a;
}
.time span{
    margin-right: 5px;
}
.btn-div{
    width: 10rem;
    border-bottom: .8rem solid #ffb91a;
    border-top: .8rem solid #ffb91a;
    font-size: 2rem;
}
.star-div{
    position: absolute;
    top: 50%;
    width: 100%;
    height: 100px;
    text-align: center;
}
p{
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    top: 100%;
    line-height: 3rem;
    margin-left: -40%;
    font-size: 1rem;
    color: rgb(148, 130, 130);
}

.box-div {
    height: 100%;
    background: red;
    width: 80%;
    margin: 0 auto;
}

.con {
    box-sizing: border-box;
    float: left;
    width: 4rem;
    height: 4rem;
    margin: 5px;
    border-radius: .3rem;
    border: 1px solid #333;
}

.title-span {
    color: #fff;
    display: block;
    width: 100%;
    height: 100px;
    font-size: 3rem;
    text-align: center;
    margin: 10rem auto;
}

.top-div {
    position: relative;
    width: 90%;
    margin: 4rem auto 5rem;
    text-align: center;
    display: none;
    
}
.resetdiv, .timediv, .checkdiv, .cont-div, .level-div{
    position: relative;
    display: inline-block;
   
    line-height: 3rem;
}
.cont-div{
    left: 3rem;
}
.level-div{
    right: 3rem;
}
.cont-div, .level-div{
    position: absolute;
    line-height: 1rem;
    top: -2.5rem;
}
.checkUl{
    position: absolute;
}

.checkUl{
    background: #ffde1a;
    right: -2.6rem;
    margin: auto;
    width: 14rem;
    padding: .5rem 0;
    display: none;
}
.checkUl li{
    cursor: pointer;
   width: 100%;
   height: 3rem;
   line-height: 3rem;
   font-size: 1.2rem;
}
.checkUl li:nth-child(odd){
    background:rgba(255,0,0,.08);
}
.checkUl li, .checkUl{
    border-radius: .3rem;
}
.checkUl li:hover{
    background: #ffb91a;
}
.checkfo:hover .checkUl{
    display: block;
}

.game-win, .game-over{
    position: absolute;
    top:50%;
    left: 50%;
    margin: -10rem -12.5rem;
    width: 25rem;
    height: 20rem;
    background-size:contain;
}

.game-over{  
    background-image: url('../images/gameOver.jpg');
}

.game-win{
    background-image: url('../images/gameWin.jpg');
}
.overBack, .gameWin{
    position: absolute;
    z-index: 999;
    top:0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,.5);
    display: none;
}
.button-div{
    position: absolute;
    top:50%;
    left: 50%;
    margin: 11rem 0  0 -17rem ;
    width: 34rem;
    text-align: center;
}
.back{
    margin-right: 20px;
}

@media screen and ( min-width: 212px){ 
    html{ 
        font-size: 12.8px; 
    } 
    .con {
        box-sizing: border-box;
        float: left;
        width: 2.8rem;
        height: 2.8rem;
        margin: 5px;
        border-radius: .3rem;
        border: 1px solid #333;
    }
} 

@media screen and ( min-width: 319px){
    html{ 
        font-size: 14.4px; 
    } 
    .time{
        margin: 0 1.2rem;
    }
    .con {
        box-sizing: border-box;
        float: left;
        width: 2.8rem;
        height: 2.8rem;
        margin: 5px;
        border-radius: .3rem;
        border: 1px solid #333;
    }
} 

@media screen and ( min-width: 359px){
    html{ 
    font-size: 15px; 
    } 
    .time{
        margin: 0 1.5rem;
    }
    .con {
        box-sizing: border-box;
        float: left;
        width: 2.5rem;
        height: 2.5rem;
        margin: 5px;
        border-radius: .3rem;
        border: 1px solid #333;
    }

} 

@media screen and ( min-width: 383px){
    html { 
        font-size: 15.44px; 
    } 
    .time{
        margin: 0 2rem;
    }
    .con {
        width: 2.2rem;
        height: 2.2rem;
    }

} 

@media screen and ( min-width: 399px){}

@media screen and ( min-width: 414px){
    /*414px显示屏样式 苹果6plus*/
    html{ 
        font-size: 16.48px; 
    } 
    .time{
        margin: 0 2.5rem;
    }
}
@media screen and ( min-width: 423px){
    /*424px显示屏样式 LG 4X */
}
@media screen and ( min-width: 479px){
    /*480px显示屏样式 索尼MT27i Xperia sola*/
    html{ 
        font-size: 17px; 
    } 
    .time{
        margin: 0 2rem;
    }
    .con {

        width: 2.5rem;
        height: 2.5rem;
    }
}
@media screen and ( min-width: 539px){
    /*640px显示屏样式 摩托罗拉Droid3/4/Razr Atrix 4g*/
}
@media screen and ( min-width: 639px){
    /*640px显示屏样式*/
}
@media screen and ( min-width: 640px){
    /*640px以上显示屏样式*/
}


@media screen and (min-width: 800px) and (max-width: 960px){ 
    html{ 
        font-size: 20px; 
    } 
    .time{
        margin: 0 2rem;
    }
    .con {
        width: 2rem;
        height: 2rem;
    }
} 
@media screen and (min-width: 961px){ 
    html{ 
        font-size: 20px; 
    } 
    .time{
        margin: 0 3rem;
    }
    .con {
        width: 2.5rem;
        height: 2.5rem;
    }
} 
